<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
<!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='node_modules/bootstrap-select/dist/css/bootstrap-select.min.css')}}"> -->

<script src="{{url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-chained/1.0.1/jquery.chained.min.js"></script> -->
<script src="{{url_for('static', filename='node_modules/popper.js/dist/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<!-- <script src="{{url_for('static', filename='node_modules/bootstrap-select/dist/js/bootstrap-select.min.js')}}"></script> -->
