<html>
    <head>
        <title>Аналітична веб система перепису населення</title>
        {% include "header.html" %}
    </head>
    <body>
        <div>
            {% block navbar %}
            {% set active = 'index' %}
            {% include "navbar.html" with context %}
            {% endblock %}
            <div class="jumbotron justify-content-center">
                <h1>
                    Вас вітає інформаційно-аналітична web-система перепису населення</br>
                    Студентки ФОАІС, 5 курсу, 2 групи</br>
                    Балашової Аліни
                </h1>
                <h2>
                    Загальні положення щодо</br>
                    інформаційно-аналітичної Web-системи перепису населення
                </h2>
            </div>
        </div>
    </body>
</html>
