<ul class="nav nav-justified nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link {% if active == 'index' %}active{% endif %}" style="color: #ffc107" href="{{url_for('index')}}">Головне меню</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'sign_up' %}active{% endif %}" style="color: #ffc107" href="{{url_for('sign_up')}}">Реєстрація</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'search' %}active{% endif %}" style="color: #ffc107" href="{{url_for('search')}}">Пошук</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'statistics' %}active{% endif %}" style="color: #ffc107" href="{{url_for('statistics')}}">Статистика</a>
    </li>
</ul>
