<style>
    .nav-link {
        color: #ffc107; 
        font-size: 25px; 
        font-weight: bold;
    }
</style>

<ul class="nav nav-justified nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link {% if active == 'index' %}active{% endif %}" style="color: #ffc107; font-size: 20px; 
        font-weight: bold; height: 76px; padding-top: 20;" href="{{url_for('index')}}">Головна сторінка</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'sign_up' %}active{% endif %}" style="color: #ffc107; font-size: 20px; 
        font-weight: bold;" href="{{url_for('sign_up')}}">Реєстрація нового учасника перепису</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'search' %}active{% endif %}" style="color: #ffc107; font-size: 20px; 
        font-weight: bold; height: 76px; padding-top: 20;" href="{{url_for('search')}}">Пошук учасника перепису</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'statistics' %}active{% endif %}" style="color: #ffc107; font-size: 20px; 
        font-weight: bold; height: 76px; padding-top: 20;" href="{{url_for('statistics')}}">Статистичні дані</a>
    </li>
</ul>
