<html>
    <head>
        <title>Реєстрація</title>
        {% include "header.html" %}
        <style>
            .flex-container {
                display: flex;
                flex-direction: row;
            }
            .styles_span {
                background-color: #ffc107; 
                color: #007bff;
            }
            body {
            background-image: url(/static/img/main_background.jpg);
            width: auto;
            }
        </style>
    </head>
    <body>
        {% include "modal.html" without context %}
        {% block navbar %}
        {% set active = 'sign_up' %}
        {% include "navbar.html" with context %}
        {% endblock %}
        <form style="padding-top: 10px">
            <div class="input-group mb-3" style="padding-left: 8px; width: 320px;">
                <div class="input-group-prepend">
                    <span class="input-group-text styles_span" style="width: 170px;">Прізвище</span>
                </div>
                <input id="field-surname" type="text" class="form-control">
            </div>
            <div class="input-group mb-3" style="padding-left: 8px; width: 320px;">
                <div class="input-group-prepend">
                    <span class="input-group-text styles_span" style="width: 170px;">Ім'я</span>
                </div>
                <input id="field-name" type="text" class="form-control">
            </div>
            <div class="input-group mb-3" style="padding-left: 8px; width: 320px;">
                <div class="input-group-prepend">
                    <span class="input-group-text styles_span" style="width: 170px">По-батькові</span>
                </div>
                <input id="field-lastName" type="text" class="form-control">
            </div>
            <div class="input mb-3 pad flex-container" style="width: auto; padding-top: 10px; padding-left: 8px; padding-right: 8px;">
                    <div class="input-group-prepend">
                        <div class="input-group-text styles_span" style="width: 170px; justify-content: center;">Стать</div>
                    </div>
                    <select class="form-control mdb-select md-form colorful-select dropdown-primary pad" style="padding-right: 5px;" id="field-sex">
                        <option value="">---</option>
                        {% for sex in sex %}
                        <option value = "{{sex}}">{{sex}}</option>
                        {% endfor %}
                    </select>
                    <div class="input-group-prepend" style="padding-left: 5px;">
                        <div class="input-group-text styles_span" style="width: 170px; justify-content: center;">День народження</div>
                    </div>
                    <select class="form-control mdb-select md-form colorful-select dropdown-primary" id="field-birthdayD">
                        <option value="">---</option>
                        {% for birthdayD in birthdayD %}
                        <option value = "{{birthdayD}}">{{birthdayD}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="input mb-3 pad flex-container" style="width: 100%; padding-top: 10px; padding-left: 8px; padding-right: 8px;">
                <div class="input-group-prepend">
                    <div class="input-group-text styles_span" style="width: 170px; justify-content: center;">Місяць народження</div>
                </div>
                <select class="form-control mdb-select md-form colorful-select dropdown-primary" style="padding-left: 5px;" id="field-birthdayM">
                    <option value="">---</option>
                    {% for birthdayM in birthdayM %}
                    <option value = "{{birthdayM}}">{{birthdayM}}</option>
                    {% endfor %}
                </select>
                <div class="input-group-prepend" style="padding-left: 5px;">
                    <div class="input-group-text styles_span" style="width: 170px; justify-content: center;">Рік народження</div>
                </div>
                <select class="form-control mdb-select md-form colorful-select dropdown-primary" id="field-birthdayY">
                    <option value="">---</option>
                    {% for birthdayY in birthdayY %}
                    <option value = "{{birthdayY}}">{{birthdayY}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input mb-3 pad flex-container" style="width: 100%; padding-top: 10px; padding-left: 8px; padding-right: 8px;">
                <div class="input-group-prepend">
                    <div class="input-group-text styles_span" style="width: 170px; justify-content: center;">Громадянство</div>
                </div>
                <select class="form-control mdb-select md-form colorful-select dropdown-primary" style="padding-left: 5px;" id="field-citizenship">
                    <option value="">---</option>
                    {% for citizenship in citizenship %}
                    <option value = "{{citizenship}}">{{citizenship}}</option>
                    {% endfor %}
                </select>
                <div class="input-group-prepend" style="padding-left: 5px;">
                    <div class="input-group-text styles_span" style="width: 170px; justify-content: center;">Сімейний стан</div>
                </div>
                <select class="form-control mdb-select md-form colorful-select dropdown-primary" id="field-maritalStatus">
                    <option value="">---</option>
                    {% for maritalStatus in maritalStatus %}
                    <option value = "{{maritalStatus}}">{{maritalStatus}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input mb-3 pad flex-container" style="width: 100%; padding-top: 10px; padding-left: 8px; padding-right: 8px;">
                <div class="input-group-prepend">
                    <div class="input-group-text styles_span" style="width: 170px; justify-content: center;">Освіта</div>
                </div>
                <select class="form-control mdb-select md-form colorful-select dropdown-primary" style="padding-left: 5px;" id="field-education">
                    <option value="education">---</option>
                    {% for education in education %}
                    <option value = "{{education}}">{{education}}</option>
                    {% endfor %}
                </select>
                <div class="input-group-prepend" style="padding-left: 5px;">
                    <div class="input-group-text styles_span" style="width: 170px; justify-content: center;">Рідна мова</div>
                </div>
                <select class="form-control mdb-select md-form colorful-select dropdown-primary" id="field-language">
                    <option value="">---</option>
                    {% for language in language %}
                    <option value = "{{language}}">{{language}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="p-2">
                <button onclick="register()" type="button" class="btn btn-primary" style="width: 100%; margin-top: 15px;" >Зарєструватися</button>
            </div>
        </form>
    </body>
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{url_for('static', filename='register.js')}}"> </script>
    <script>
    </script>
</html>
