<html>

<head>
    <title>Статистика</title>
    {% include "header.html" %}
    <script src="{{url_for('static', filename='node_modules/plotly.js-dist/plotly.js')}}"></script>
    <style>
        .styles_span {
            background-color: #ffc107;
            color: #007bff;
        }
        body {
        background-image: url(/static/img/main_background.jpg);
        width: auto;
        }
        .chart {
            align-items: center;
            height: 700px;
            width: 1200px;
            font-size: 30px;
        }
        .infolayer {
            font-size: 30px;
        }
    </style>
</head>

<body>
    {% block navbar %}
    {% set active = 'statistics' %}
    {% include "navbar.html" with context %}
    {% endblock %}
    <div class="container">
        <br/>
        <div class="input-group mb-3" style="width: 300px">
            <div class="input-group-prepend">
                <div class="input-group-text styles_span">Категорія</div>
            </div>
            <select class="form-control mdb-select md-form colorful-select dropdown-primary" id="field-select" onchange="plot()">
                <option value="">---</option>
                <option value="sex">Стать</option>
                <option value="citizenship">Громадянство</option>
                <option value="maritalStatus">Сімейний стан</option>
                <option value="education">Освіта</option>
                <option value="language">Рідна мова</option>
            </select>
        </div>
        <div class="chart" id="pie"/>
    </div>
</body>

<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="{{url_for('static', filename='plot.js')}}"> </script>

</html>
